@font-face {
        font-family: bank_gothic;
        src: local('bank_gothic_mbt_pl'),
                url("fonts/bank_gothic_mbt_pl.ttf") format('truetype');
        font-weight: normal;
}

@media (min-width: 1400px) {
    .container{
        width: 1200px;
    }
}

body {
        background: #000000;
}

p,a,small,h1,h2,h3,h4,li {
        font-family: bank_gothic;
        letter-spacing: 1px;
        color: #FFFFFF;
}

h4 {
	font-size: 1.4em;
	margin-top: 20px;
}

.post, .page {
	background-image: none!important;
	background-color: #000000;
}

.header {
	position: absolute;
	top: 0px;
	height: 100px;
	z-index: 9998;
	background-color: #000000;
	opacity: 0.85;
}

#home_link img {
	height: 90px;
	padding: 5px 0;
}

#main-menu .navbar-inner {
	background-color: #000000;
}

#main-menu .navbar {
	float: right;
	padding-top: 30px;
}

#main-menu .navbar a {
	font-size: 1.15em;
	font-weight: bold;
}

#main-menu .navbar .nav > li:first-child {
    border-left: solid 1px gray;
}

#main-menu .navbar .nav > li {
    border-right: solid 1px gray;
}

#main-menu .link-image-container {
    position: relative;
    top: 15px;
    width: 100%;
    height: 0px;
}

#main-menu .link-image-container img {
    position: relative;
    top: 8px;
    width: 35px;
    height: 35px;
    left: 50%;
    margin-left: -18px;
}

.language-selector,
.facebook-link {
	position: fixed;
	background: #000000;
	z-index: 9999;
}

.language-selector {
	top: 5px;
	right: -65px;
}

.language-selector img {
	padding: 10px;
	width: 40px;
	height: 20px;
}

.facebook-link {
	top: 50px;
	right: 0px;
	width: 59px;
	text-align: center;
}

.facebook-link img {
	width: 30px;
	height: 30px;
	padding: 7px;
}

#content {
	position: relative;
	padding-top: 130px;
	padding-bottom: 100px;
}

.background-cover {
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-position: 50% 50%;
	-moz-background-position: 50% 50%;
	-o-background-position: 50% 50%;
	background-position: 50% 50%;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
    background-image: url("images/background.jpg");
}

#header-background {
	z-index: 9998;
	opacity: 1.0;
	cursor: pointer;
	text-align: center;
}

#header-background .centerer {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#header-background .centered {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

#header-background img {
	margin-bottom: 3em;
}

#header-background h2 {
    color: #191919;
}

.carousel-control {
	top: 50%;
	background: transparent;
	border: 0;
	font-weight: bold;
    color: #191919;
}

#image-carousel {
	display: none;
}

#text-carousel-container {
	position: absolute;
	top: 0px;
	height: 100%;
}

#text-carousel {
	position: relative;
	float: left;
	padding-top: 100px;
	#padding-bottom: 100px;
	width: 40%;
	height: 100%;
	z-index: 9996;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
    box-sizing: border-box;
}

#text-carousel .carousel {
	height: 100%;
	width: 100%;

	background-image: -webkit-gradient(
                linear, left top, left bottom, from(rgba(0,0,0,0.85)),
                to(rgba(20,20,20,0.6))
        );

        /* FF3.6+ */
        background-image: -moz-linear-gradient(
                rgba(200,200,200,0.7) 0%, rgba(40,40,40,0.8) 100%
        );
}

#image-carousel .carousel-inner > .item {
	-webkit-transition: 2.5s linear left;
	-moz-transition: 2.5s linear left;
	-o-transition: 2.5s linear left;
	transition: 2.5s linear left;
}

#text-carousel .carousel-inner > .item {
	padding-bottom: 15px;
	-webkit-transition: 2.5s ease-in-out left;
	-moz-transition: 2.5s ease-in-out left;
	-o-transition: 2.5s ease-in-out left;
	transition: 2.5s ease-in-out left;
}

#text-carousel a,
#text-carousel p {
	padding: 15px;
	padding-top: 25px;
	font-size: 1.2em;
	line-height: 1.2em;
}

#text-carousel h1,
#text-carousel h2,
#text-carousel h3 {
	display: inline-block;
	margin: 0;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 0px;
}

#text-carousel a {
	position: relative;
	color: #BBBBBB;
	background-color: rgba(10,10,10,0.3);
	border: solid 2px #999999;	
	padding: 10px;
	margin: 15px;
	text-shadow: 0 1px 0 #080808;
}

#text-carousel a:hover {
	left: 2px;
	top: 1px;
	color: #FFFFFF;
	border: solid 1px #999999;
	text-decoration: none;
}

.vertical-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
}

.offer {
    height: 100%;
}

.offer .offer-category-outer, .offer .offer-detail-outer {
    padding-top: 180px;
    height: 100%;
}

.offer .offer-category {
    position: relative;
    border: solid 1px gray;
    height: 90%;
    text-align: bottom;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */;
}

.offer .offer-category:hover {
    -webkit-filter: initial;
    -moz-filter: initial;
    -ms-filter: initial;
    -o-filter: initial;
    filter: initial;
    filter: initial; /* IE 6-9 */;
    cursor: pointer;
}

.offer .offer-category .vertical-text {
    position: absolute;
    bottom: 25px;
    left: 60px;
}

.offer .vertical-text h2 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: -1px 0 #aaaaaa, 0 1px #aaaaaa;     #, 1px 0 #aaaaaa, 0 -1px #aaaaaa;
}

.offer .offer-detail {
    height: 50%;
}

.contact-form-input-area {
	float: left;
	width: 40%;
}

.contact-form-info {
	float: right;
}

input, textarea {
        font-family: bank_gothic;
	width: 100%;
}

#cboxOverlay {
	background: #000000!important;
}

.gallery img {
	border: none!important;
}

.cboxElement img {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
        filter: gray; /* IE 6-9 */;
	opacity: 0.6;
}

.cboxElement img:hover {
        -webkit-filter: initial;
        -moz-filter: initial;
        -ms-filter: initial;
        -o-filter: initial;
        filter: initial;
        filter: initial; /* IE 6-9 */;
	opacity: 1.0;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;     
	background: #000000;
	color: #ffffff;
	# padding-top: 10px;
	opacity: 0.85;
	z-index: 9998;
}

.footer .content {
	text-align: center;
	font-size: 12px;
}

.footer h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
}
